.profile__about {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  display: inline-block;
  align-self: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 312px;
}

@media screen and (max-width: 920px) {
  .profile__about {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 640px) {
  .profile__about {
    font-size: 14px;
    line-height: 17px;
    max-width: 252px;
  }
}
