.profile__info {
  display: grid;
  grid-template-columns: minmax(min-content, max-content) 24px;
  grid-template-rows: auto auto;
  gap: 9px 18px;
  align-items: center;
}

@media screen and (max-width: 920px) {
  .profile__info {
    grid-template-columns: 24px minmax(min-content, max-content) 24px;
    grid-template-rows: minmax(min-content, max-content) auto;
    margin-top: 26px;
    gap: 12px 10px;
  }
}
